/*NORMALIZE CSS*/
*, *::before, *::after {
    font-family: Poppins;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/*IMPORTED FONT*/
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Medium.ttf);
}

/*NAVIGATION BAR DESKTOP*/
@media only screen and (min-width: 900px) {
    .navigation-container-mobile {
        display: none;
    }

    .navigation-container-desktop {
        display: flex;
        justify-content: space-between;
        padding: 3rem 7rem;
    }
    
    .navigation-container-desktop > ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navigation-container-desktop ul:nth-child(1) {
        width: 30rem;
    }
    
    .navigation-container-desktop ul:nth-child(2) {
        width: 10rem;
    }
    
    .navigation-container-desktop > ul > li {
        color: hsl(0, 0%, 75%);
    }
    
    .navigation-container-desktop > ul > li:hover {
        color: black;
        cursor: pointer;
    }
    
    #sign-up-button {
        border-radius: 3rem;
        background-color: hsl(180, 66%, 49%);
        padding: 0.5rem 1rem;
        color: white;
    }
    
    #sign-up-button:hover {
        background-color: hsl(180, 66%, 65%);
    }
}

/*NAVIGATION BAR MOBILE*/
@media only screen and (max-width: 900px) {
    .navigation-container-desktop {
        display: none;
    }

    .navigation-container-mobile {
        z-index: 100;
        color: white;
    }

    .nav-images-container {
        display: flex;
        justify-content: space-between;
        padding: 3rem 2rem;
    }

    .nav-bar-mobile-container {
        display: none;
        position: absolute;
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
        list-style-type: none;
        text-align: center;
        background-color: hsl(257, 27%, 26%);
        height: fit-content;
        padding: 1rem 0;
        border-radius: 5px;
        animation-duration: 0.5s;
        animation-name: slideup;
    }

    .nav-bar-mobile-container li {
        margin: 2rem 0;
        font-weight: 700;
    }

    .nav-bar-mobile-container li:nth-child(4) {
        width: 80%;
        margin: 0 auto;
        border-top: 1px solid hsl(0, 0%, 50%);
        padding-top: 2rem;
    }

    @keyframes slideup {
        from {
          margin-top: 100%;
        }
      
        to {
          margin-top: 0%;
        }
      }

      #sign-up-button {
        border-radius: 3rem;
        background-color: hsl(180, 66%, 49%);
        padding: 0.5rem 1rem;
        color: white;
        width: fit-content;
        margin: 2rem auto;
    }
}

/*TO MAINTAIN NAV BAR STRUCTURE IN MOBILE WHEN THE NAV BAR POSITION IS ABSOLUTE*/
.structural-div {
    display: none;
    height: 6rem;
}

/*FIRST PAGE SECTION*/
@media only screen and (min-width: 900px) {
    .first-div-container {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 7rem;
        padding-bottom: 8rem;
        margin-top: 3rem;
    }

    .first-div-container div {
        flex: 0.5;
    }
}

@media only screen and (max-width: 900px) {
    .first-div-container {
        text-align: center;
        padding: 0 2rem;
        padding-bottom: 8rem;
        margin-top: 3rem;
    }

    .call-to-action {
        margin: 0 auto;
    }
}

.landing-page-header {
    font-size: 4rem;
    font-weight: 700;
    line-height: 3.8rem;
}

.landing-page-description {
    margin: 0.5rem 0;
    color: hsl(0, 0%, 75%);
    font-size: 1.1rem;
}

.call-to-action {
    border-radius: 3rem;
    background-color: hsl(180, 66%, 49%);
    padding: 0.5rem 1rem;
    color: white;
    width: fit-content;
    cursor: pointer;
    margin-top: 2rem;
}

.call-to-action:hover {
    background-color: hsl(180, 66%, 65%);
}

/*REMOVE BREAK TAGS SELECTIVELY WHEN THE SCREEN STARTS TO GET SMALLER TO PRESERVE LAYOUT*/
@media only screen and (max-width: 1100px) {
    .vanish-break {
        display: none;
    }
}

/*SECOND PAGE SECTION*/
.second-div-container {
    background-color: hsl(257, 7%, 80%);
}

@media only screen and (min-width: 900px) {
    .second-div-container {
        padding: 0 7rem;
        padding-bottom: 3rem;
    }

    .link-form-container {
        background-image: url("./images/bg-shorten-desktop.svg");
        background-repeat: no-repeat;
        background-color: hsl(257, 27%, 26%);
        background-size: cover;
        width: 100%;
        text-align: center;
        padding: 2.5rem 0;
        height: 8rem;
        position: relative;
        top: -4rem;
        border-radius: 5px;
    }

    .link-input {
        width: 65%;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 5px;
        border: none;
        padding: 0 2rem;
    }

    .link-input::placeholder {
        color: hsl(0, 0%, 75%);
    }

    .link-submit-button {
        height: 3rem;
        width: 20%;
        background-color: hsl(180, 66%, 49%);
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 0.9rem;
    }

    .link-submit-button:hover {
        background-color: hsl(180, 66%, 65%);
        cursor: pointer;
    }

    .link-details-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        position: relative;
        top: -2.5rem;
        margin-bottom: 1rem;
        border-radius: 5px;
        background-color: white;
    }

    .link-details-container > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .link-details-container > div > input {
        color: hsl(180, 66%, 49%);
        background-color: inherit;
        border: none;
        font-size: 1rem;
        outline: none;
    }

    .link-details-container > div > button {
        background-color: hsl(180, 66%, 49%);
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .link-details-container > div > button:hover {
        background-color: hsl(180, 66%, 65%);
        cursor: pointer;
    }
}

@media only screen and (max-width: 900px) {
    .second-div-container {
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

    .link-form-container {
        background-image: url("./images/bg-shorten-mobile.svg");
        background-repeat: no-repeat;
        background-color: hsl(257, 27%, 26%);
        background-size: cover;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
        height: 9rem;
        position: relative;
        top: -4.5rem;
        border-radius: 5px;
    }

    .link-input {
        width: 80%;
        height: 3rem;
        border-radius: 5px;
        border: none;
        padding: 0 2rem;
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .link-input::placeholder {
        color: hsl(0, 0%, 75%);
    }

    .link-submit-button {
        height: 3rem;
        width: 80%;
        background-color: hsl(180, 66%, 49%);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        color: white;
        font-size: 0.9rem;
    }

    .link-details-container {
        padding: 1rem 2rem;
        position: relative;
        top: -2.5rem;
        margin: 1rem auto;
        border-radius: 5px;
        background-color: white;
        width: 80%;
    }

    .link-details-container > p {
        border-bottom: 1px solid hsl(0, 0%, 70%);
        padding-bottom: 1rem;
        height: fit-content;
    }

    .link-details-container > div > input {
        color: hsl(180, 66%, 49%);
        margin: 1rem 0;
        background-color: inherit;
        border: none;
        font-size: 1rem;
        outline: none;
    }

    .link-details-container > div > button {
        background-color: hsl(180, 66%, 49%);
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
        margin: 0 auto;
        width: 100%;
    }
}

.error-message {
    color: red;
    font-style: italic;
    font-size: 0.8rem;
    text-align: left;
    width: 85%;
    margin: 0 auto;
    display: none;
}

/*THIRD PAGE SECTION*/
@media only screen and (min-width: 900px) {
    .third-div-container {
        background-color: hsl(257, 7%, 80%);
        padding: 0 7rem;
        padding-bottom: 10rem;
    }

    .advanced-statistics-container {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
    }

    .advanced-statistics-container > div {
        flex: 0.3;
        padding: 2rem;
        background-color: white;
        border-radius: 5px;
    }
    
    .advanced-statistics-container > div:nth-child(2) {
        position: relative;
        top: 2rem;
    }
    
    .advanced-statistics-container > div:nth-child(3) {
        position: relative;
        top: 4rem;
    }

    .third-div-image-container {
        background-color: hsl(257, 27%, 26%);
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        border-radius: 50%;
        margin-top: -4rem;
    }
    
    .third-div-image-container > img {
        max-width: 100%;
        max-height: 100%;
    }
    
    .advanced-statistics-container > div > h4 {
        color: hsl(257, 27%, 26%);
        margin-top: 1.5rem;
    }
    
    .advanced-statistics-container > div > p {
        color: hsl(0, 0%, 75%);
        margin-top: 1.5rem;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 900px) {
    .third-div-container {
        background-color: hsl(257, 7%, 80%);
        padding: 0 2rem;
        padding-bottom: 3rem;
    }

    .advanced-statistics-container {
        margin-top: 4rem;
    }

    .advanced-statistics-container > div {
        padding: 2rem;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 4rem;
    }

    .third-div-image-container {
        background-color: hsl(257, 27%, 26%);
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: -4rem;
    }
    
    .third-div-image-container > img {
        max-width: 100%;
        max-height: 100%;
    }
    
    .advanced-statistics-container > div > h4 {
        color: hsl(257, 27%, 26%);
        margin-top: 1.5rem;
    }
    
    .advanced-statistics-container > div > p {
        color: hsl(0, 0%, 75%);
        margin-top: 1.5rem;
        font-size: 0.9rem;
    }
}

.h3-header {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.shortly-description {
    margin: 0.5rem 0;
    color: hsl(0, 0%, 50%);
    font-size: 1.1rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
}

/*FOURTH PAGE SECTION*/
@media only screen and (min-width: 900px) {
    .fourth-div-container {
        background-image: url("./images/bg-boost-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(257, 27%, 26%);
        text-align: center;
        padding: 5rem;
    }
}

@media only screen and (max-width: 900px) {
    .fourth-div-container {
        background-image: url("./images/bg-boost-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(257, 27%, 26%);
        text-align: center;
        padding: 4rem;
    }
}

.fourth-div-container > h3 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: white;
}

.fourth-div-container > p {
    border-radius: 3rem;
    background-color: hsl(180, 66%, 49%);
    padding: 0.5rem 1rem;
    color: white;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2rem;
}

.fourth-div-container > p:hover {
    background-color: hsl(180, 66%, 65%);
}

/*FOOTER SECTION*/
@media only screen and (min-width: 900px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 4rem 7rem;
        background-color: hsl(255, 11%, 22%);
        color: white;
    }

    .footer-container > div:nth-child(5) {
        min-width: 8rem;
    }
}

@media only screen and (max-width: 900px) {
    .footer-container {
        padding: 2rem;
        background-color: hsl(255, 11%, 22%);
        color: white;
        text-align: center;
    }

    .footer-container > div:nth-child(5) {
        margin: 0 auto;
        margin-top: 2rem;
        width: 50%;
    }

    .footer-container h5 {
        margin-top: 1.5rem;
    }
}

.footer-container h5 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.footer-container p {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    color: hsl(0, 0%, 75%);
}

.footer-container p:hover {
    color: hsl(180, 66%, 49%);
}

.footer-logo-container {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(119deg) brightness(102%) contrast(101%);
}

.footer-container > div:nth-child(5) {
    display: flex;
    justify-content: space-between;
}

.footer-container > div > div {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.footer-container > div > i > img {
    max-height: 100%;
    max-width: 100%;
}